.rs-search-results
  %h1 Результаты поиска
  = form_tag search_path, method: :get, class: 'nav_search' do
    = text_field_tag 'query', params[:query], placeholder: "Поиск"
    = submit_tag 'Найти'
  %ol
    - any = false
    - @results.each do |r|
      - any = true
      %li
        -if RocketCMS.mongoid?
          .title= link_to (r._highlight.nil? || r._highlight['name'].nil?) ? r.name : r._highlight['name'].join(' ... ').html_safe, url_for(r)
          .text
            = raw (r._highlight.nil? || r._highlight['content'].nil?) ? (r.content.blank? ? '' : SmartExcerpt.truncate(r.content)) : r._highlight['content'].join(' ... ')
            %span.more= link_to '', url_for(r)
        - else
          - u = app_url(result.searchable)
          - next if u.nil?
          - next if result.searchable.respond_to?(:enabled) && !result.searchable.enabled
          - any = true
          %a{href: u}
            %span
              %strong= highlight(result.searchable.name, params[:query], highlighter: '<em>\1</em>')
              |  (#{result.searchable.class.model_name.human})
            - ex = excerpt(strip_tags(result.searchable.content), params[:query], radius: 150)
            - if ex.nil?
              == strip_tags(SmartExcerpt.h.smart_truncate(result.searchable.content, words: 20))
            - else
              == highlight(ex, params[:query], highlighter: '<em>\1</em>')
  - unless any
    .rs-search-no-results К сожалению, ничего не найдено

  = paginate @results if any
