- unless obj.nil?
  .text_content
    - unless obj.h1.blank?
      %h1= @seo_page.h1
    - if obj.content.blank?
      = raw @seo_page.page_content unless @seo_page.nil?
    - else
      = raw obj.content

  - content_for :meta do
    = render 'shared/meta', obj: obj
    = render 'shared/og', title: obj.get_og_title, image: obj.og_image
