.rs-news-index
  %h1= t('rs.news')
  - @news.each do |news|
    .rs-news-date= l(news.time.to_date)
    %a.rs-news-title{href: news_path(news)}= news.name
    - if !RocketCMS.configuration.news_image_styles.nil? && news.image?
      .rs-news-image= image_tag news.image.url(:thumb)
    .rs-news-excerpt= news.excerpt
  = paginate @news
