%html(lang="ru")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, maximum-scale=1")
    %title= page_title
    = yield :meta
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body
    #root
      = render 'shared/messages'
      #sidebar
        = render_navigation &navigation(:main)
      #content
        = yield
      #root_footer
    #footer
      = render 'blocks/footer'

